@model PresentationLayer.Models.AnimalHomeCollectionViewModel
@*@{
    ViewBag.Title = " Home";
}*@
<h1>Animals Partial View</h1>
<div>
    @foreach (var item in Model.ListAllModels)
    {
        <div>
            @item.Id
            @item.Name
        </div>
    }
</div>