@{
    ViewBag.Title = "Index";
}
<h2>Json Example</h2>
<div>
    <p><h3>Animals Json</h3>
    @Html.Action("GetAllAnimalsJson")
    </p>
    <p>
        <h3>Houses Json</h3>
        @Html.Action("GetAllHousesJson")
    </p>
</div>