@model Module5.Models.EmployeeViewModel
@{
    ViewBag.Title = "CreateRoom";
}

<h2>Create new Room</h2>

<div class="row">
    <form method="post">
        <label>Color</label>
        <input type="text" name="Color" />
        <label>Capacity</label>
        <input type="text" name="Capacity" />

        <select name="Employee">
            <option></option>


        </select>
        <button type="submit" value="Save">Submit</button>
    </form>
</div>