
@{
    ViewBag.Title = "CreateEmployee";
}

<h2>CreateEmployee</h2>

<div class="row">
    <form method="post">
        <label>First Name</label>
        <input type="text" name="FirstName" />
        <label>Last Name</label>
        <input type="text" name="LastName" />
        <label>Phone</label>
        <input type="number" name="Phone" />


        <button type="submit" value="Save">Submit</button>
    </form>
</div>